body {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* HEADER SECTION */
#header {
  max-width: 100%;
  max-height: 10em;
  background: #000000;
}
.header-logo img {
  max-width: 250px;
  max-height: 150px;
  padding-left: 5em;
}
#header a {
  float: right;
  font-size: 27px;
  padding: 4em 0.7em;
  text-decoration: none;
}
#header a:hover {
  color: bisque;
}

/* SLIDER SECTION */
#slider {
  max-width: 100%;
  max-height: 350px;
}
#slider img {
  min-width: 100%;
  max-height: 450px;
  margin-top: -6.6em;
}

/* DESCRIPTION SECTION */
#description {
  max-width: 450px;
  min-height: 20em;
  margin: 15em 7em;
  float: left;
}
#description img {
  min-width: 150px;
  max-height: 150px;
}
#description .description-text {
  padding: 15px 15px;
}

/* TRANSITION SECTION */
#transition {
  min-width: 100%;
  min-height: 20em;
  background: #000000;
}

.copyright {
  font-size: 26px;
}
